@keyframes rotateColors {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content {
  position: relative;
  z-index: 100;
}
.drga2 {
  pointer-events: none;
}
.no-rotate {
  transform: rotate(0deg);
}
.drag {
  transform-origin: center;
}
/* WelcomeMassage.css */
.drag {
  position: relative;
  transform-style: preserve-3d;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-18%, -70%) rotate(240deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.content.visible {
  opacity: 1;
  visibility: visible;
}
.container {
  padding: 20px 100px;
}
.drag-content {
  position: relative;
  z-index: 10;
}
.drag2 {
  border-radius: 50% 50% 46% 54% / 49% 48% 52% 51%;
}
.drag-content.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s;
  transform: rotate(240deg);
}

/* .drag h1 {
  opacity: 0;
  transition: opacity 0.5s ease;
} */

.drag {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  transform-origin: center;
  box-shadow: -14px 5px 9px -4px rgba(0, 0, 0, 0.19);
  z-index: 2;
  transform: rotate(120deg);
}

.custom-shape {
  pointer-events: none;
  border-radius: 52% 48% 44% 56% / 49% 48% 52% 51%;
  width: 550px;
  height: 550px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.custom-shape3 {
  position: absolute;
  width: 550px;
  height: 550px;
  background: conic-gradient(#8a2be2 50%, #ff00ff 50%);
  animation: rotateColors 10s linear infinite;
  filter: blur(50px);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  top: 20px;
  left: 35%;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    transparent
  );
  mask-image: linear-gradient(
    to bottom right,
    rgba(200, 188, 188, 0.8),
    transparent
  );
}

.custom-shape3.hidden {
  display: none;
}

.custom-shape::before {
  content: "";
  position: absolute;
  inset: -20px;
  background: conic-gradient(#89cbce 50%, #7581ff 50%);
  animation: rotateColors 10s linear infinite;
  filter: blur(50px);
  -webkit-mask-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.8),
    transparent
  );
  mask-image: linear-gradient(
    to top center,
    rgba(246, 243, 243, 0.8),
    transparent
  );
}

.drga2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  transform-origin: center;
  box-shadow: 0 -5px 9px -4px rgba(0, 0, 0, 0.19);
  z-index: 2;
}
/* From Uiverse.io by doniaskima */
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #561eda;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  border-radius: 99rem;
  border-width: 1px;
  padding: 0.4rem 3rem;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17:hover {
  background-color: #7c3aed;
  color: black;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  /* mix-blend-mode: difference; */
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
/* Animation Contant */
